.main-top {
    height: auto;
    color: white;
    transition: all 2s ease;
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main-top p {
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: #40B1FA;
}
.main-top h5 {
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
    margin: 0px;
}
.main-top button {
    position: absolute;
    bottom: 30px;
    right: 60px;
    color: #222222;
}

/* .fab:hover {
    text-shadow: 1px 1px 2px #40B1FA, 0 0 25px #40B1FA, 0 0 5px #40B1FA;
    cursor: pointer;
} */

.main-top-details {
    background-color: #222222;
    height: 0px;
    color: white;
    transition: all 2s ease;
    text-align: center;
}
.main-top-details p {
    font-size: 20px;
    text-align: left;
    padding: 15px;
    margin: 0px;
    clear: both;
}
.main-top-details h2 {
    color: #40B1FA;
    margin: 0px;
}

.main-center button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #222222;
    color: white;
}

.main-bottom {
    height: auto;
    color: white;
    transition: all 2s ease;
    background-color: #222222;
    /* background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}
.main-bottom p {
    text-align: center;
    font-size: 20px;
    padding: 0 10%;
    padding-top: 10px;
    margin: 0px;
}
.main-bottom h4 {
    font-size: 25px;
    color: #40B1FA;
    text-align: center;
    padding-top: 30px;
    margin: 0;
}
.main-buttom-items {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    display: inline-block;
}
.main-buttom-items button {
    background-color: #40B1FA;
    color: white;
}
.item-card {
    max-width: 250px;
    margin: 20px;
}
 
.demo-tab-content {
    padding: 16px;
}

.mat-card {
    padding: 20px;
}
