.main-top {
    height: auto;
    color: white;
    transition: all 2s ease;
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-top p {
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: #40B1FA;
}

.main-top h5 {
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
    margin: 0px;
}

.main-top button {
    position: absolute;
    bottom: 30px;
    right: 60px;
    color: #222222;
}

.fab:hover {
    text-shadow: 1px 1px 2px #40B1FA, 0 0 25px #40B1FA, 0 0 5px #40B1FA;
    cursor: pointer;
}

.main-top-details {
    background-color: #222222;
    height: 0px;
    color: white;
    transition: all 2s ease;
    text-align: center;
}
.main-top-details p {
    font-size: 20px;
    text-align: left;
    padding: 15px;
    margin: 0px;
    clear: both;
}

.main-center button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #222222;
    color: white;
}

.main-bottom {
    height: auto;
    color: white;
    transition: all 2s ease;
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main-bottom h2, h3, p {
    margin: 0px;
}
.main-bottom h2, h3 {
    text-align: center;
}
 
.demo-tab-content {
    padding: 16px;
}

.mat-card {
    padding: 20px;
}


.item-card {
    max-width: 300px;
    display: inline-block;
    float: left;
  }